$primary: #300010;
$secondary: #c0b060;
$tertiary: #a00040;

.menu-container {
  position: absolute;
  border-radius: 0.0rem;
  background: rgba(0, 0, 0, 0.5);
  top: 0.0rem;
  left: 0.0rem;
  width: 100%;
  height: 100%;
}

.menu {
  position: absolute;
  border-radius: 0.5rem;
  top: 2.0rem;
  left: 2.0rem;
}

.menu-item {
  border-radius: 0.5rem;
  color: $primary;
}

.nav-link {
  text-decoration: none;
}

.nav-item-button {
  display: block;
  background-color: $tertiary;
  width: 5.0rem;
  padding: 0.5rem;
  border: none;
  color: $secondary;
  font-weight: bold;
  border-radius: 0.5rem;
}

.nav-item-button:hover {
  background-color: $primary;
}