.menu-container {
  position: absolute;
  border-radius: 0.0rem;
  background: rgba(0, 0, 0, 0.5);
  top: 0.0rem;
  left: 0.0rem;
  width: 100%;
  height: 100%;
}

.menu {
  position: absolute;
  border-radius: 0.5rem;
  top: 2.0rem;
  left: 2.0rem;
}

.nav-link {
  text-decoration: none;
}

.nav-item-button {
  display: block;
  background-color: #e0d0f0;
  width: 5.0rem;
  padding: 0.5rem;
  border: none;
}

.nav-item-button:hover {
  background-color: #f0c0d0;
}