.menu-button {
  margin-top: 2.0rem;
  margin-left: 2.0rem;
  padding: 0.25rem;
  background-color: #a00040;
  border: solid 0.2rem #c0b060;
  border-radius: 1.0rem;
  padding: 0.5rem;
  color: #c0b060;
  font-weight: bold;
}