@import './BooksVars'; // Notice omission of leading underscore!

table {
    border-collapse: collapse;
}

td {
    border: solid 1px #000;
    padding: 0.5rem;
}

th {
    background-color: $grey;
    border: solid 1px #000;
    padding: 0.5rem;
}