.menu-container {
  position: absolute;
}

.nav-link {
  text-decoration: none;
}

.nav-item-button {
  display: block;
  background-color: #e0d0f0;
  width: 5.0rem;
}

.nav-item-button:hover {
  // display: block;
  background-color: #f0c0d0;
  // width: 5.0rem;
}