$primary: #300010;
$secondary: #c0b060;
$tertiary: #a00040;

body {
  background-color: $primary;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button.std {
  border-radius: 0.5rem;
  font-size: 1.0rem;
  color: $primary;
  background-color: $secondary;
  outline: none;
  border: none;
  padding: 0.5rem 0.75rem;
}

div.cell {
  margin: 2.0rem;
  padding: 1.0rem;
  border: solid 0.2rem #c0b060;
  border-radius: 1.0rem;
  background-color: $tertiary;
  color: $secondary;
  font-weight: bold;
}

input {
  border-radius: 0.5rem;
  height: 1.5rem;
  font-size: 1.0rem;
  background-color: $primary;
  margin-bottom: 0.5rem;
  outline: none;
  border: none;
  color: $secondary;
  padding: 0.5rem 0.75rem;
}

label {
  margin-bottom: 0.25rem;
}

select {
  border-radius: 0.5rem;
  font-size: 1.0rem;
  background-color: $primary;
  margin-bottom: 0.5rem;
  outline: none;
  border: none;
  color: $secondary;
  padding: 0.5rem 0.75rem;
}

textarea {
  border-radius: 0.5rem;
  font-size: 1.0rem;
  background-color: $primary;
  margin-bottom: 0.5rem;
  outline: none;
  border: none;
  color: $secondary;
  padding: 0.5rem 0.75rem;
}

.block {
  display: block;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

.mb-0-5 {
  margin-bottom: 0.5rem;
}

.mb-1 {
  margin-bottom: 1.0rem;
}

.mouse {
  cursor: pointer;
}